@use '../../styles/mixins' as mixin;
.react-share {
    &__group {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-area: share;
        gap: 5px;
    }
    
    &__ShareButton svg,
    &__label {
        color: var(--color-black);
    }

    &__label {
        font-size: 0.813rem;
    }
}

@media screen and (min-width: 768px) {
    .react-share {
        &__group {
            bottom: 30px;
            margin-block-end: 0;
            @include mixin.hero-element;
        }
    }
}

@media screen and (max-width: 768px) {
    .react-share {
        &__group {
            margin: 20px 0 15px;
        }
    }
}