.post {
    .filters {
        display: none;
    }
    
    &__image {
        cursor: pointer;
    }

    .masonry__gallery {
        padding: 15px 15px 0;
    }
}

@media screen and (min-width: 850px){
    .post .masonry__gallery {
        padding-block-end: 20px;
    }
}

@media screen and (min-width: 1441px) {
    .post .masonry__gallery {
        padding-block-start: 40px;
    }
}