body {
    &.light {
        --color-black: #000;
        --color-white: #fff;
    
        .content {
          background-color: var(--color-white);
        }
        
        .logo {
          filter: none;
        }
      }
}