@mixin horizontally-center {
    inset-inline-start: 50%;
    transform: translateX(-50%);
}

@mixin hero-element {
    position: absolute;
    inset-inline-start: var(--hero-padding-desktop);
    max-inline-size: calc(100vw - 30px);
}

@mixin visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }