@mixin horizontally-center {
    left: 50%;
    transform: translateX(-50%);
}

@mixin hero-element {
    position: absolute;
    left: var(--hero-padding-desktop);
    max-width: calc(100vw - 30px);
}