:root {
  --header-height: 60px;
  --color-highlight: #999;
  --hero-padding-desktop: 15px;
  --color-black: #fff;
  --color-white: #000;
  --hero-height: 60px;
}

:focus:not(:focus-visible) {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  outline: none;
  overflow-x: hidden;
  max-inline-size: 100vw;
  color: var(--color-black);
}

::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}
:-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
}
::-moz-placeholder {
  font-family: 'Montserrat', sans-serif;
}
:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}

textarea,
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

figure {
  margin: 0;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  transition: filter .4s ease-in-out !important;
}

h1 {
  text-align: center;
  margin-block-end: 1em;
}

svg {
  fill: currentColor;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  color: var(--color-black);
  font-family: 'Montserrat', sans-serif;
}

.linky {
  text-decoration: underline;
  background: none;
  border: none;
  font-size: inherit;
  color: currentColor;
  margin-inline-start: 5px;
}

.no-display {
  display: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  :root {
      --header-height: 95px;
      --hero-padding-desktop: 111px;
      --hero-height: 20px;
  }

  body {
    font-size: 1.5rem;
  }
}