@use '../../styles/mixins' as mixin;
main {
    min-block-size: calc(100vh - var(--hero-height));
    background-color: var(--color-white);

    &.hero {
        &.home::before {
            background-color: transparent;
        }
    }

    &:not(.hero) {
        padding-block-start: var(--header-height);
    }
}

.hero {
    &__wrapper {
        position: relative;
        inline-size: 100%;
        block-size: 100vh;
        z-index: 1;
        top: 0;
        left: 0;
        overflow: hidden;

        &::before {
            content: '';
            display: block;
            block-size: 100%;
            background-color: rgba($color: #000000, $alpha: 0.2);
        }

        .gatsby-image-wrapper {
            z-index: -2;
            position: absolute !important;
            top: 0;
            inline-size: 100%;
            block-size: 100%;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        padding: 70px 15px 15px;
        max-block-size: 100vh;
        overflow-x: auto;
        display: grid;
        row-gap: 20px;
        block-size: 100%;
        grid-template-areas: 'h1' 'text' 'team' 'share';
        grid-template-rows: auto 1fr auto auto;
    }

    &__description {
        grid-area: text;
        
        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    &__title {
        grid-area: h1;
    }
}


.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: -2;
    pointer-events: none;
    overflow: hidden;
    background-color: var(--color-white);

    video {
        inline-size: 100vw;
        min-block-size: 100vh;
        block-size: 75.10vw; /* Given actual ratio, 18.7/24.9*100 = 75.10 */
        min-inline-size: 133.15vh; /* Given actual ratio, 24.9/18.7*100 = 133.15 */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    // filter: grayscale(1); /* comment on if wanted color */
    }
}

@media screen and (min-width: 768px) {
    .hero {
        &__description {
            top: 280px;
            @include mixin.hero-element;
            max-inline-size: 810px;
            block-size: 100%;
        }

        &__content {
            position: initial;
        }

        .hero__title {
            top: 150px;
            font-size: 2.125rem;
            @include mixin.hero-element;
        }
    }
}