@import '../../styles/mixins';
.people-card {
    &__list {
        grid-area: team;
    }
    
    a {
        font-weight: 500;
    }
}

@media screen and (min-width: 768px) {
    .people-card {
        &__list {
            inset-block-end: 80px;
            @include hero-element;
        }
    
        a {
            font-weight: 500;
            color: var(--color-black);
        }
    }
}

@media screen and (max-width: 768px) {
    .people-card {
        &__list {
            margin-block-start: 20px;
        }
    }
}