.main.hero.image {
  position: relative;

  &>.content>.gatsby-image-wrapper {
    position: absolute !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
  }
}

.page-404 {
  background-color: transparent;
  .hero {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &__title {
      font-weight: 900;
      font-size: 150px;
      margin-bottom: 30px;
    }

    &__description {
      
    }

    &__button {
      margin-top: 56px;
      line-height: 70px;
      text-transform: uppercase;
      background-color: var(--color-black);
      width: 100%;
      color: var(--color-white);
      text-align: center;
    }
  }

  ~ footer {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .page-404 {
    .hero {
      &__content {
        align-items: center;
        flex-direction: column;
        position: absolute;
        right: 204px;
        left: auto;
        width: auto;
        top: 80px;
        text-align: center;
        height: auto;
      }
  
      &__title {
        position: static;
        font-size: 200px;
        margin-bottom: 6px;
      }
  
      &__description {
        position: static;
      }
  
      &__button {
        width: 350px;
      }
    }
  }
}