.main.hero.image {
  position: relative;

  &>.content>.gatsby-image-wrapper {
    position: absolute !important;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100vh;
    z-index: -2;
  }
}

.page-404 {
  background-color: transparent;
  .hero {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      inline-size: 100%;
    }

    &__title {
      font-weight: 900;
      font-size: 9.375rem;
      margin-block-end: 30px;
    }

    &__description {
      
    }

    &__button {
      margin-block-start: 56px;
      line-height: 70px;
      text-transform: uppercase;
      background-color: var(--color-black);
      inline-size: 100%;
      color: var(--color-white);
      text-align: center;
    }
  }

  ~ footer {
    background-color: transparent;
    position: absolute;
    inset-block-end: 0;
    inline-size: 100%;
  }
}

@media screen and (min-width: 768px) {
  .page-404 {
    .hero {
      &__content {
        align-items: center;
        flex-direction: column;
        position: absolute;
        inset-inline-end: 204px;
        inset-inline-start: auto;
        inline-size: auto;
        inset-block-start: 80px;
        text-align: center;
        block-size: auto;
      }
  
      &__title {
        position: static;
        font-size: 12.5rem;
        margin-block-end: 6px;
      }
  
      &__description {
        position: static;
      }
  
      &__button {
        inline-size: 350px;
      }
    }
  }
}