.contact {
    &__form {
        display: grid;
    }

    .column {
        width: 100%;
    }

    .column__wrapper {
        padding: 0 15px;
    }
}

@media screen and (min-width: 768px) {
    .contact {
        .column__wrapper {
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            gap: 40px;
            grid-template-columns: repeat(2, 450px);
        }
    }
}