.form {
    display: grid;
}
.wrapper {
    padding: 0 15px;
}
.column {
    width: 100%;
}
.links {
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    padding: 30px 10px;
    justify-content: start;
}
.submit {
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    padding: 1em;
    margin: 1em 0;
    font-weight: 500;
}
.hr {
    margin: 1em 0;
}
.message {
    padding: 10px;
}
.input {
    border-radius: 0;
    margin-bottom: 1em;
    border-width: 1px;
    padding: 10px;
}
.flex {
    display: flex;
}
.svg {
    transform: scale(2);
}

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: 40px;
        grid-template-columns: repeat(2, 450px);
    }
}