.filters {
    &__list {
        margin-block-end: 15px;
        padding-block-start: 15px;
        overflow: auto;
        white-space: nowrap;
    }

    &__item {
        & {
            background: none;
            border: none;
            color: var(--color-highlight);
            padding: 0 15px;
            font-size: inherit;
            text-transform: capitalize;
            color: var(--color-highlight);
        }

        &:hover {
            cursor: pointer;
        }

        &:disabled {
            color: var(--color-black);
        }
    }
}

@media screen and (min-width: 768px) {
    .filters {
        &__list {
            padding-block-start: 0;
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
            gap: 10px;
        }

        &__item {
            padding: 25px 15px;
        }
    }
}