main.success {
    &,
    & + footer {
        background-color: transparent;
    }

    .hero__content {
        text-align: center;
        grid-template-rows: 1fr auto auto;
        grid-template-areas: none;

        h1 {
            font-size: 70px;
            margin-top: 50px;
        }
    }

    .hero__button {
        background-color: var(--color-black);
        display: block;
        padding: 1em 3em;
        color: var(--color-white);
        max-width: 400px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    main.success {
        .hero__content {
            h1 {
                margin-top: 100px;
            }
        }
    }
}