.modal {
    opacity: 0;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: -1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;

    &.open {
        opacity: 1;
        z-index: 2;
    }

    img {
        max-block-size: 100%;
        cursor: auto;
    }

    p {
        color:var(--color-black);
    }

    &__content {
        position: relative;
        overflow: hidden;

        >div> * {
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            inset-block-end: 0;
            inset-inline-end: 0;
            inline-size: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-width: 768px) {}