.modal {
    opacity: 0;
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;

    &.open {
        opacity: 1;
        z-index: 2;
    }

    img {
        max-height: 100%;
        cursor: auto;
    }

    p {
        color:var(--color-black);
    }

    &__content {
        position: relative;
        overflow: hidden;
        // width: 80vw;

        >div> * {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
          }
    }
}

@media screen and (min-width: 768px) {
    // .modal.lovelace-video iframe {
    //     min-width: 44vw;
    //     min-height: 70vh;
    // }
}