.list {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
}
.item {
    text-transform: uppercase;
    pointer-events: none;
}
.item:not(.active) {
    color: var(--color-highlight) !important;
    pointer-events: all;
}

@media screen and (min-width: 768px) {}