.language {
    &__list {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        justify-content: center;
    }

    &__item {
        text-transform: uppercase;
        pointer-events: none;

        &:not(.active) {
            color: var(--color-highlight);
            pointer-events: all;
        }
    }
}

@media screen and (min-width: 768px) {}