.language {
    &__list {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }

    &__item {
        text-transform: uppercase;
        pointer-events: none;

        &:not(.active) {
            color: var(--color-highlight);
            pointer-events: all;
        }
    }
}

@media screen and (min-width: 768px) {

}