@import '../../styles/mixins';
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset-block-end: 0;
  inset-block-start: auto;
  z-index: 2;
  pointer-events: none;
  inline-size: 100%;
  block-size: var(--header-height);
  transition: all .4s ease-in;

  &.active {
    background-color: var(--color-white);
  }

  hr {
    display: none;
  }

  a {
    color: var(--color-black);
  }

  & > * {
    pointer-events: all;
  }
}

.menu {
  &__list {
    ul {
      list-style: none;
      display: flex;
    }
  }

  &__item {
    inline-size: 25%;
    display: flex;
    justify-content: center;

    svg {
      fill: var(--color-black);
    }
  }

  &__label {
    display: none;
  }

  &__button {
    display: none;
  }
}

.logo {
  filter: invert(1);
  
  &__wrapper {
    position: fixed;
    inset-block-start: 10px;
    @include horizontally-center;
  }
}

@media screen and (max-width: 768px) {
  .menu__item:first-child {
    display: none;
  }

  .social__links {
    display: flex;
    justify-content: center;
  }

  .subscription {
    &__button {
      background-color: var(--color-black);
      color: var(--color-white);
      padding: 1em 3em;
      margin: 1em auto;
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    inset-block-start: 0;
    inset-block-end: auto;
    display: flex;

    hr {
      color: var(--color-black);
      inline-size: 2px;
      block-size: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .logo {
    &__wrapper {
      transform: none;
      inset-inline-start: 20px;
      inset-block-start: auto;
    }
  }

  .nav {
    inline-size: 35px;
    block-size: 40px;
  }

  .menu {
    &__list {
      position: absolute;
      inset-inline-start: 0;
      inline-size: 100%;
      inset-block-start: var(--header-height);
      block-size: calc(100vh - var(--header-height));
      opacity: 0;
      z-index: -2;
      pointer-events: none;
      transition: all .4s ease-in;

      &.active {
        opacity: 1;
        z-index: 3;
        pointer-events: all;
        background-color: var(--color-white);
      }

      ul {
        flex-direction: column;
        margin-block-start: 34px;

        & > * + * {
          margin-block-start: 40px;
        }
      }
    }

    &__button {
      display: block;
      border: none;
      background: none;
      position: relative;
      inline-size: 100%;
      block-size: 100%;
      cursor: pointer;

      span {
        inline-size: 5px;
        position: absolute;
        background-color:var(--color-black);
        inset-block-start: 0;
        transition: all .3s ease-in;
        pointer-events: none;
        
        &:first-child {
          block-size: 50%;
          inset-inline-start: 2.5px;
        }
        
        &:nth-child(2) {
          block-size: 75%;
          inset-inline-start: calc(50% - 3px);
        }
        
        &:last-child {
          block-size: 100%;
          inset-inline-end: 2.5px;
        }
      }
      &.active {
        span {
          &:first-child {
            block-size: 100%;
            transform: rotate(45deg) translate(9px, -9px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            transform: rotate(-45deg) translate(-9px, -9px);
          }
        }
      }
    }

    &__label {
      display: block;
    }

    &__item {
      inline-size: auto;
      text-transform: uppercase;
      font-size: 6rem;
      font-weight: 900;
      line-height: 120px;

      svg {
        display: none;
      }

      a.active,
      a:hover {
        color: var(--color-highlight);
      }
    }
  }

  .subscription {
    display: none;
  }
}