@import '../../styles/mixins';
.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  top: auto;
  z-index: 2;
  pointer-events: none;
  width: 100%;
  height: var(--header-height);
  transition: all .4s ease-in;

  &.active {
    background-color: var(--color-white);
  }

  hr {
    display: none;
  }

  a {
    color: var(--color-black);
  }

  & > * {
    pointer-events: all;
  }
}

.menu {
  &__list {
    ul {
      list-style: none;
      display: flex;
    }
  }

  &__item {
    width: 25%;
    display: flex;
    justify-content: center;

    svg {
      fill: var(--color-black);
    }
  }

  &__label {
    display: none;
  }

  &__button {
    display: none;
  }
}

.logo {
  filter: invert(1);
  
  &__wrapper {
    position: fixed;
    top: 10px;
    @include horizontally-center;
  }
}

.settings {
  &__block {
    position: absolute;
    bottom: var(--header-height);
    width: 100%;
    left: 0;
    display: grid;
    justify-content: center;
    height: 50vh;
    padding-top: 10vh;
    transition: all .4s ease-in;

    &.active {
      background-color: var(--color-white);
    }

    &:not(.active) {
      opacity: 0;
      z-index: -5;
      pointer-events: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .menu__item:first-child {
    display: none;
  }

  .settings__block:not(.active) {
    .language__item:not(.active) {
      pointer-events: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    top: 0;
    bottom: auto;
    display: flex;

    hr {
      color: var(--color-black);
      width: 2px;
      height: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  .logo {
    &__wrapper {
      transform: none;
      left: 20px;
      top: auto;
    }
  }

  .nav {
    width: 35px;
    height: 40px;
  }

  .menu {
    &__list {
      position: absolute;
      left: 0;
      width: 100%;
      top: var(--header-height);
      height: calc(100vh - var(--header-height));
      opacity: 0;
      z-index: -2;
      pointer-events: none;
      transition: all .4s ease-in;

      &.active {
        opacity: 1;
        z-index: 3;
        pointer-events: all;
        background-color: var(--color-white);
      }

      ul {
        flex-direction: column;
        margin-top: 34px;

        & > * + * {
          margin-top: 40px;
        }
      }
    }

    &__button {
      display: block;
      border: none;
      background: none;
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;

      span {
        width: 5px;
        position: absolute;
        background-color:var(--color-black);
        top: 0;
        transition: all .3s ease-in;
        pointer-events: none;
        
        &:first-child {
          height: 50%;
          left: 2.5px;
        }
        
        &:nth-child(2) {
          height: 75%;
          left: calc(50% - 3px);
        }
        
        &:last-child {
          height: 100%;
          right: 2.5px;
        }
      }
      &.active {
        span {
          &:first-child {
            height: 100%;
            transform: rotate(45deg) translate(9px, -9px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            transform: rotate(-45deg) translate(-9px, -9px);
          }
        }
      }
    }

    &__label {
      display: block;
    }

    &__item {
      width: auto;
      text-transform: uppercase;
      font-size: 4em;
      font-weight: 900;
      line-height: 120px;

      svg {
        display: none;
      }

      a.active,
      a:hover {
        color: var(--color-highlight);
      }
    }
  }

  .settings {
    &__wrapper {
      position: absolute;
      right: 0;
    }

    &__trigger {
      display: none;
    }

    &__block:not(.active) {
      opacity: 1;
      z-index: 2;
      pointer-events: all;
      height: 100vh;
      width: 100px;
      right: 0;
      top: -46px;
      left: auto;
      display: grid;
      grid-template-rows: var(--header-height) 1fr auto 1fr 80px;
      align-items: center;
      padding-top: 0;
    }
  }
}