.settings {
    &__block {
      position: absolute;
      bottom: var(--header-height);
      width: 100%;
      left: 0;
      display: grid;
      justify-content: center;
      height: 70vh;
      padding: 40px 20px 0;
      transition: all .4s ease-in;
  
      &.active {
        background-color: var(--color-white);
  
        hr {
          display: block;
          height: 2px;
        }
      }
  
      &:not(.active) {
        opacity: 0;
        z-index: -5;
        pointer-events: none;

        a,
        .nsfw-switch {
            pointer-events: none;
        }
      }
    }
  
    &__wrapper {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 768px) {
    .settings__block:not(.active) {
        // .language__item:not(.active) {
        //   pointer-events: none;
        // }
      }
  }

  @media screen and (min-width: 768px) {
    .settings {
        &__wrapper {
          position: absolute;
          right: 0;
        }
    
        &__trigger {
          display: none;
        }
    
        &__block:not(.active) {
          opacity: 1;
          z-index: 2;
          height: 100vh;
          width: 100px;
          right: 0;
          top: -46px;
          left: auto;
          display: grid;
          grid-template-rows: var(--header-height) 1fr auto 1fr 80px;
          align-items: center;
          padding-top: 0;
    
          a,
          .nsfw-switch {
            pointer-events: all;
          }
        }
      }
  }