$image-size: 400px;
.masonry {
    &__item {
        .gatsby-image-wrapper {
            cursor: pointer;
        }

        img {
            transition: filter 1s, transform 3s !important;
        }
    }
}

.masonry {
    &__gallery {
        padding: 0 15px;
        display: flex;
        justify-content: center;

        & > * + * {
            margin-inline-start: 20px;
        }
    }
    
    &__item {
        margin-block-end: 15px;
    }
    
    &__column {
        inline-size: 100%;
        max-inline-size: 400px;
    }
}

@media screen and (min-width: 850px) {
    .masonry {
        &__item {
            margin-block-end: 20px;
        }
        
    }
}

@media screen and (min-width: 1441px) {
    .masonry {
        &__gallery {
            padding: 0 42px;

            & > * + * {
                margin-inline-start: 40px;
            }
        }

        &__item {
            margin-block-end: 40px;
        }
        
    }
}

@supports (gap: 10px) and (display: flex) {
    .masonry__gallery {
        column-gap: 20px;
        
        & > * + * {
            margin-inline-start: 0;
        }
    }

    @media screen and (min-width: 1441px) {
        .masonry__gallery {
            column-gap: 40px;

            & > * + * {
                margin-inline-start: 0;
            }
        }
    }
}