@use '../../styles/_mixins.scss' as mixin;
body:not(.nsfw) {
  .nsfw img {
    filter: blur(3px);
    pointer-events: none;
  }

  .masonry__item.nsfw {
    pointer-events: none;
  }
}

.nsfw-switch {
  position: relative;
  display: inline-block;
  inline-size: 50px;
  block-size: 26px;
  z-index: 3;
  @include mixin.horizontally-center;

  &::before,
  &::after {
    position: absolute;
    inset-block-start: 50%;
    transform: translateY(-50%);
  }

  .nsfw--trigger {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    ~ .label-on {
      display: none;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px var(--color-white);
    }

    &:checked {
      ~ .label-off {
        display: none;
      }

      ~ .label-on {
        display: block;
      }

      + .slider::before {
        transform: translateX(27px);
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    inset-block-start: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    background-color: var(--color-black);
    border-radius: 26px;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      block-size: 16px;
      inline-size: 16px;
      inset-inline-start: 3px;
      inset-block-end: 5px;
      background-color: var(--color-white);
      transition: .4s;
      border-radius: 50%;
    }
  }
    
  .label {
    color: var(--color-white);
    position: absolute;
    line-height: 26px;
    pointer-events: none;
    font-size: 0.625rem;

    &-on {
      padding-inline-start: 5px;
    }

    &-off {
      padding-inline-start: 28px;
    }
  }
}

@media screen and (min-width: 768px) {}