@import '../../styles/_mixins.scss';
body:not(.nsfw) {
  .nsfw img {
    filter: blur(3px);
    pointer-events: none;
  }

  .masonry__item.nsfw {
    pointer-events: none;
  }
}

.nsfw-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  z-index: 3;
  @include horizontally-center;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .nsfw--trigger {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    ~ .label-on {
      display: none;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px var(--color-white);
    }

    &:checked {
      ~ .label-off {
        display: none;
      }

      ~ .label-on {
        display: block;
      }

      + .slider::before {
        transform: translateX(27px);
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-black);
    border-radius: 26px;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 3px;
      bottom: 5px;
      background-color: var(--color-white);
      transition: .4s;
      border-radius: 50%;
    }
  }
    
  .label {
    color: var(--color-white);
    position: absolute;
    line-height: 26px;
    pointer-events: none;
    font-size: 10px;

    &-on {
      padding-left: 5px;
    }

    &-off {
      padding-left: 28px;
    }
  }
}

@media screen and (min-width: 768px) {}