.footer {
    padding: 5px 20px;
    background-color: var(--color-white);
    color: var(--color-black);
    text-transform: uppercase;
    font-size: 0.5rem;
    font-weight: 500;
}

.p {
    margin-block-start: 10px;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        justify-content: space-between;
    }

    .p {
        margin-block-start: 0;
    }
}